################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Be.Auto.Authentication.Keycloak
/Be.Auto.Authentication.Role/obj
/Be.Auto.Authentication.Role/bin/Debug/net8.0
/Example.Authentication.Keycloak/bin/Debug/net8.0
